.featured {
    padding: 90px 40px 50px 40px;
    .head-title {
        text-align: center;
        font-size: 36px;
        margin: 30px 0;
    }
    p {
        text-align: center;
        margin: 20px 0 30px 0;
    }
    .subtitle {
        text-align: center;
        font-weight: 400;
        margin-top: -10px;
    }
    .house-card-wrapper {
        width: 100%;
        display: flex;
        gap: 40px;
        padding: 30px 60px;
        margin: 50px 0 60px 0;
        .house-card {
            box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            overflow: hidden;
            background: #fff;
            .house-image {
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    &:hover {
                        -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            .card-details {
                padding: 45px 20px 20px 20px;
                text-align: center;
                h3 {
                    font-size: 25px;
                }
                p {
                    font-size: 15px;
                }
                a {
                    text-decoration: none;
                    display: inline-block;
                    background: #9292eb;
                    padding: 10px 20px;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 15px;
                    &:hover {
                        background: rgba(0, 0, 255, 1.0); 
                    }
                }
            }

        }
    }
    .compare {
        display: flex;
        gap: 40px;
        margin: 30px 50px 80px 50px;
        padding: 20px 30px;
        border-radius: 9px;
        color: #fff;
        background: #9292eb;
        .compare-card {
            width: 100%;
            .title {
                text-align: center;
                margin-bottom: 30px;
                font-weight: 400;
            }
            .card-list {
                li{
                    position: relative;
                    padding-left: 35px;
                    h4 {
                        font-weight: 400;
                        font-size: 17px;
                    }
                    h4:not(:first-child) {
                        margin: 5px 0;
                        font-size: 14px;
                    }
                    &::before {
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 100%;
                        background: #fff;
                    }

                }
                li:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
    }
    .featured-apartments {
        margin: 60px 0 60px 0;
        &:last-child {
            margin-bottom: 0;
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                display: inline-block;
                color: #fff;
                border: 1px solid #9292eb;
                background: #9292eb;
                padding: 8px 28px;
                text-decoration: none;
                border-radius: 30px;
                font-size: 18px;
            }
        }
        p {
            white-space: pre-wrap;
            text-align: left;
        }
        .bottom {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px 0 40px 0;
            .single-house {
                flex: 1;
                position: relative;
                background: #fff;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
                .image {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        &:hover {
                            -webkit-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            transform: scale(1.1);
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                .status {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    display: flex;
                    gap: 20px;
                    span {
                        background: #9292eb;
                        color: #fff;
                        padding: 5px 12px;
                        border-radius: 35px;
                        font-size: 15px;
                    }
                }
                .house-details {
                    padding: 10px;
                    .payment_status {
                        display: flex;
                        justify-content: space-between;
                        text-transform: capitalize;
                        margin-bottom: 5px;
                        .payment {
                            h4 {
                                font-weight: 400;
                                font-size: 16px;
                            }
                            h3 {
                                font-size: 20px;
                                span:not(span.mdi) {
                                    font-size: 15px;
                                }
                            }
                        }
                        .apartment-status {
                            h4 {
                                font-weight: 400;
                                font-size: 15px;
                                padding: 5px 12px;
                                border-radius: 25px;
                                background: #e81123;
                                color: #fff;
                            }
                        }
                        .apartment-status.buy {
                            h4 {
                                background: #298760;
                            }
                        }
                        .apartment-status.available {
                            h4 {
                                background: #298760;
                            }
                        }
                    }
                    .shares {
                        margin-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                        h3 {
                            font-size: 16px;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                    .property-price {
                        display: flex;
                        justify-content: space-between;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 5px;
                        span {
                            font-weight: 600;
                        }
                    }
                    .apartment-name {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    .apartment-details {
                        margin-bottom: 5px;
                        li {
                            display: inline-block;
                            margin-right: 5px;
                            &:not(:last-child)::after {
                                content: '';
                                display: inline-block;
                                width: 5px;
                                height: 5px;
                                border-radius: 100%;
                                background: #000;
                                margin: 0 8px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .footer {
                        li {
                            display: flex;
                            justify-content: space-between;
                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .featured {
        padding: 60px 0 30px 0;
        .head-title {
            font-size: 30px;
            margin: 20px 0;
        }
        p {
            text-align: justify;
        }
        .house-card-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 30px 0;
            margin: 20px 0 30px 0;
            .house-card {
                .card-details {
                    padding: 30px 25px 25px 15px;
                    text-align: center;
                    h3 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 14px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
    
            }
        }
        .compare {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin: 25px 0;
            padding: 20px;
            .compare-card {
                .title {
                    margin-bottom: 18px;
                }
                .card-list {
                    li{
                        h4 {
                            font-size: 16px;
                        }
                        h4:not(:first-child) {
                            font-size: 14px;
                        }
                    }
                }
                &:not(:first-child) {
                    padding-top: 40px;
                    border-top: 1px solid #fff;
                }
            }
        }
    } 
}