.featured {
    padding: 90px 0px 50px 0px;
    .head-title {
        text-align: center;
        font-size: 36px;
        margin: 30px 0;
    }
    p {
        text-align: center;
        margin: 20px 0 30px 0;
    }
    .subtitle {
        text-align: center;
        font-weight: 400;
        margin-top: -10px;
    }
    .house-card-wrapper {
        width: 100%;
        display: flex;
        gap: 40px;
        padding: 30px 60px;
        margin: 50px 0 60px 0;
        .house-card {
            box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            overflow: hidden;
            background: #fff;
            .house-image {
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    &:hover {
                        -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            .card-details {
                padding: 45px 20px 20px 20px;
                text-align: center;
                h3 {
                    font-size: 25px;
                }
                p {
                    font-size: 15px;
                }
                a {
                    text-decoration: none;
                    display: inline-block;
                    background: #64318a;
                    padding: 10px 20px;
                    border-radius: 30px;
                    color: #fff;
                    font-size: 15px;
                    &:hover {
                        background: #b06be4; 
                    }
                }
            }

        }
    }
    .compare {
        display: flex;
        gap: 40px;
        margin: 30px 50px 40px 50px;
        padding: 20px 30px;
        border-radius: 9px;
        color: #fff;
        background: #64318a;
        .compare-card {
            width: 100%;
            .title {
                text-align: center;
                margin-bottom: 30px;
                font-weight: 400;
                font-size: 25px;
            }
            .card-list {
                li{
                    position: relative;
                    padding-left: 35px;
                    h4 {
                        font-weight: 400;
                        font-size: 20px;
                    }
                    h4:not(:first-child) {
                        margin: 5px 0;
                        font-size: 14px;
                    }
                    &::before {
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        border-radius: 100%;
                        background: #fff;
                    }

                }
                li:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
    }
    .featured-apartments {
        margin: 60px 0 60px 0;
        &:last-child {
            margin-bottom: 0;
        }
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                display: inline-block;
                color: #fff;
                background: #64318a;
                padding: 8px 28px;
                text-decoration: none;
                border-radius: 30px;
                font-size: 18px;
                &:hover {
                    background: #b06be4;
                }
            }
        }
        p {
            white-space: pre-wrap;
            text-align: left;
        }
        .bottom {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px 0 40px 0;
        }
    }
    .fun-facts {
        margin: 90px 50px 90px 50px;
        border-radius: 15px;
        padding: 40px;
        background: #64318a;
        color: #fff;
        .title {
            text-align: center;
            font-size: 30px;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }
        .fun-fact-list {
            display: flex;
            gap: 20px;
            li {
                flex: 1;
                text-align: center;
                &:not(:last-child) {
                    border-right: 1px solid #fff;
                }
                h2 {
                    font-size: 45px;
                    margin-bottom: 20px;
                }
                &:nth-child(2) span.mdi,
                &:nth-child(4) span.mdi {
                    display: none;
                }
                h4 {
                    font-weight: 300;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .featured {
        padding: 60px 0 30px 0;
        .head-title {
            font-size: 27px;
            margin: 20px 0;
        }
        p {
            text-align: justify;
        }
        .house-card-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 30px 0;
            margin: 0 0 60px 0;
            .house-card {
                .card-details {
                    padding: 30px 25px 25px 15px;
                    text-align: center;
                    h3 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 14px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
    
            }
        }
        .compare {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin: 25px 0 70px 0;
            padding: 20px;
            .compare-card {
                .title {
                    margin-bottom: 18px;
                }
                .card-list {
                    li{
                        h4 {
                            font-size: 16px;
                        }
                        h4:not(:first-child) {
                            font-size: 14px;
                        }
                    }
                }
                &:not(:first-child) {
                    padding-top: 40px;
                    border-top: 1px solid #fff;
                }
            }
        }
        .featured-apartments {
            margin: 60px 0 60px 0;
            &:last-child {
                margin-bottom: 0;
            }
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    padding: 5px 18px;
                    font-size: 15px;
                }
                h2 {
                    font-size: 20px;
                }
            }
            p {
                font-size: 15px;
            }
            .bottom {
                flex-direction: column;
                gap: 45px;
            }
        }
        .fun-facts {
            margin: 70px 0px 70px 0px;
            border-radius: 15px;
            padding: 40px;
            .title {
                text-align: center;
                font-size: 25px;
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
            .fun-fact-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    flex: 1;
                    text-align: center;
                    &:not(:last-child) {
                        border-right: 0;
                        border-bottom: 1px solid #fff;
                        padding-bottom: 30px;
                    }
                    h2 {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    &:nth-child(2) span.mdi,
                    &:nth-child(4) span.mdi {
                        display: none;
                    }
                    h4 {
                        font-size: 14px;
                    }
                }
            }
        }
    } 
}