.main-footer {
    background: #64318a;
    color: #fff;
    padding: 80px 0 50px 0;
    .container {
        display: flex;
        .footer-left {
            width: 25%;
            display: flex;
            gap: 30px;
            flex-direction: column;
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 400;
                font-size: 32px;
            }
            .social-icons {
                display: flex;
                gap: 10px;
                li {
                    display: inline-block;
                    span {
                        font-size: 24px;
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        .footer-right {
            width: 75%;
            display: flex;
            gap: 75px;
            flex-direction: column;
            .footer-right-top {
                display: flex;
                div {
                    flex: 1;
                    h2 {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }
                    .footer-links {
                        li {
                            a {
                                color: white;
                                text-decoration: none;
                                font-weight: 400;
                            }
                            &:not(:last-child) {
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
            }

        }
    }
}
@media (max-width: 600px) {
    .main-footer {
        padding: 20px 0 20px 0;
        .container {
            display: flex;
            flex-direction: column;
            .footer-left {
                width: 100%;
                gap: 15px;
                flex-direction: column;
                border-bottom: 1px solid #fff;
                padding-bottom: 15px;
                margin-bottom: 20px;
                a {
                    font-size: 17px;
                }
                .social-icons {
                    li {
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
            .footer-right {
                width: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                .footer-right-top {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 20px;
                    border-bottom: 0;
                    padding-bottom: 0;
                    div {
                        flex: none;
                        width: calc(50% - 10px);
                        padding: 0 10px 10px 10px;
                        border-bottom: 1px solid #fff;
                        h2 {
                            font-size: 18px;
                            font-weight: 400;
                            margin-bottom: 15px;
                        }
                        .footer-links {
                            li {
                                a {
                                    color: white;
                                    text-decoration: none;
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                                &:not(:last-child) {
                                    margin-bottom: 6px;
                                }
                            }
                        }
                    }
                }
    
            }
        }
    }
}